MQTT_HOST=127.0.0.1
MQTT_PORT=8883
MQTT_CA_FILE=lab/tls/generated/ca.crt
MQTT_TOPIC=test/topic
MQTT_MESSAGE=hello mqtt from python
MQTT_CLIENT_ID=mqtt-python-client
MQTT_USERNAME=mqtt-client
MQTT_PASSWORD=
